/****************TAG SELECTOR****************/
h1{
    margin: 50px auto 0 auto;
    font-family: 'Major Mono Display', monospace;
    font-size: 5rem;
    color: #66BFBF;
    line-height: 2;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #40514E;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}


h3{
    font-family: 'Roboto', sans-serif;
    color: #11999E;
}

a{
    color: #11999E;
    text-decoration: none;
    margin: 0 20px 0 20px;
}

a:hover{
    color:#EAF6F6 ;
    text-decoration: underline;
}

hr{
    height: 5px;
    border-style: none none dotted none;
    width: 10%;
    border-width: 5px;
    border-color: #9D9D9D;
    margin: 80px auto 80px auto;
    clear:both;

}

h6{
    font-family: 'Roboto', sans-serif;
    color: #EAF6F6;
}

p{
    line-height: 2;
}
/******************CLASS SELECTOR*************/
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 10% 10%

}
.middle-container{
    margin-top: 100px;
    padding:10% 10%;
}
.bottom-container{
    background-color: #66BFBF;
    position: relative;
    padding:10% 10%;

}

.profile-pic{
    margin-top:20px;
    margin-bottom: 40px;
    width:100%;
}

.copyright{
    color: #EAF6F6;
}

.feature-icons {
    color:#11999e;
    margin-bottom: 1rem;
}

.feature-icons:hover{
    color:#2bc4ad;
}

.contact-me{
    margin:50px auto 50px auto;
}

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Raleway';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    margin: 0 5%;
}
.container-fluid{
    padding: 7% 25%;
}

.container-fluid-nav{
    padding: 7% 10%;
}

.feature-title{
    font-size:1.5rem;
}

.feature-col{
    padding: 5%;
}

.feature-col-right{
    padding: 10% 0% 10% 5%;
    text-align: left;
}
/******************ID SELECTOR*************/
